@import global


.carousel
  height: 600px
  +inset
  margin-bottom: 20px

  .carousel-inner, .item
    height: 100%
    position: relative

  .carousel-indicators
    bottom: 80px
    li
      //background-color: #fff
      &.active
        //background-color: $red


.image
  position: relative
  height: 100%
  width: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  //+inset

.caption-wrapper
  position: absolute
  display: table
  height: 100%
  top: 0
  left: 10%
  width: 400px
  text-align: center
  font-size: 40px

  &.caption-right
    left: auto
    right: 10%

  .caption
    display: table-cell
    vertical-align: middle
    text-align: center

    color: #000
    +letterpress


.full.image
  height: 600px


.row
  padding: 20px 0
  &:first-child
    padding-top: 40px
  &:last-child
    padding-bottom: 40px


#value-propositions > div, #specs > div
  text-align: center
  img 
    max-width: 100%


#signup
  position: absolute
  bottom: 0
  background-color: rgba(255,255,255,0.4)
  text-align: center

  form
    input 
      width: 15em
      font-size: 18px
      color: #333
    button
      margin: 0 1em
      padding: 6px 12px

  .form-control, button
    //border: 1px solid #999
    +box-shadow(rgba(0,0,0,0.4), 1px, 0, 1px, 1px)

