@font-face {
  font-family: "CodePro";
  src: url("fonts/Code_Pro_Demo-webfont.eot");
  src: url("fonts/Code_Pro_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Code_Pro_Demo-webfont.woff") format("woff"), url("fonts/Code_Pro_Demo-webfont.ttf") format("truetype"), url("fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular") format("svg");
  src: local("fonts/Code_Pro_Demo-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodeProLight";
  src: url("fonts/Code_Pro_Light_Demo-webfont.eot");
  src: url("fonts/Code_Pro_Light_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Code_Pro_Light_Demo-webfont.woff") format("woff"), url("fonts/Code_Pro_Light_Demo-webfont.ttf") format("truetype"), url("fonts/Code_Pro_Light_Demo-webfont.svg#CodeProLightDemoRegular") format("svg");
  src: local("fonts/Code_Pro_Light_Demo-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
