/* generalized functionality */
/* variables */
/* mixins */
/* styles */
/* line 30, ../sass/global.sass */
.hidden {
  display: none;
}

/* line 33, ../sass/global.sass */
.clear {
  clear: both;
}

/* line 36, ../sass/global.sass */
.full {
  width: 100%;
  text-align: center;
  padding: 20px 40px;
}

/* bootstrap override */
/* line 41, ../sass/global.sass */
.carousel .carousel-control {
  width: 40px;
}

/* line 3, ../sass/index.sass */
body {
  font-size: 16px;
  font-family: Georgia, Trebuchet, serif;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 30px;
}

/* line 9, ../sass/index.sass */
::-moz-selection {
  background-color: #bbff9b;
}

/* line 11, ../sass/index.sass */
::selection {
  background-color: #bbff9b;
}

/* line 15, ../sass/index.sass */
p {
  width: 500px;
  margin: 0 auto;
}

/* line 20, ../sass/index.sass */
#nav {
  padding: 20px 40px;
  font-size: 30px;
}
/* line 25, ../sass/index.sass */
#nav .link {
  float: right;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0.6em;
  text-transform: uppercase;
}

/* line 32, ../sass/index.sass */
.carousel {
  height: 600px;
  -moz-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  -webkit-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  margin-bottom: 20px;
}
/* line 37, ../sass/index.sass */
.carousel .carousel-inner, .carousel .item {
  height: 100%;
  position: relative;
}
/* line 41, ../sass/index.sass */
.carousel .item > .image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  -webkit-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
}
/* line 49, ../sass/index.sass */
.carousel .item > .caption-wrapper {
  position: absolute;
  display: table;
  height: 100%;
  top: 0;
  left: 10%;
  width: 400px;
  text-align: center;
  font-size: 40px;
}
/* line 59, ../sass/index.sass */
.carousel .item > .caption-wrapper .caption {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
}
/* line 67, ../sass/index.sass */
.carousel .carousel-indicators {
  bottom: 80px;
}
/* line 69, ../sass/index.sass */
.carousel .carousel-indicators li {
  background-color: white;
}
/* line 71, ../sass/index.sass */
.carousel .carousel-indicators li.active {
  background-color: #e62e00;
}

/* line 75, ../sass/index.sass */
#signup {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
/* line 82, ../sass/index.sass */
#signup form input {
  width: 15em;
  font-size: 18px;
  color: #333333;
}
/* line 86, ../sass/index.sass */
#signup form button {
  margin: 0 1em;
  padding: 6px 12px;
}
/* line 90, ../sass/index.sass */
#signup .form-control, #signup button {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
}
