/* generalized functionality */
@font-face {
  font-family: "CodePro";
  src: url("../fonts/Code_Pro_Demo-webfont.eot");
  src: url("../fonts/Code_Pro_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Demo-webfont.woff") format("woff"), url("../fonts/Code_Pro_Demo-webfont.ttf") format("truetype"), url("../fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular") format("svg");
  src: local("../fonts/Code_Pro_Demo-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodeProLight";
  src: url("../fonts/Code_Pro_Light_Demo-webfont.eot");
  src: url("../fonts/Code_Pro_Light_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Light_Demo-webfont.woff") format("woff"), url("../fonts/Code_Pro_Light_Demo-webfont.ttf") format("truetype"), url("../fonts/Code_Pro_Light_Demo-webfont.svg#CodeProLightDemoRegular") format("svg");
  src: local("../fonts/Code_Pro_Light_Demo-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSlab";
  src: url("../fonts/Museo_Slab_500_2-webfont.eot");
  src: url("../fonts/Museo_Slab_500_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo_Slab_500_2-webfont.woff") format("woff"), url("../fonts/Museo_Slab_500_2-webfont.ttf") format("truetype");
  src: local("../fonts/Museo_Slab_500_2-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_500-webfont.eot");
  src: url("../fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/MuseoSans_500-webfont.ttf") format("truetype");
  src: local("../fonts/MuseoSans_500-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/SofiaProLight-webfont.eot");
  src: url("../fonts/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SofiaProLight-webfont.woff") format("woff"), url("../fonts/SofiaProLight-webfont.ttf") format("truetype");
  src: local("../fonts/SofiaProLight-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CynthoSlab";
  src: url("../fonts/CynthoSlabPro-Regular-webfont.eot");
  src: url("../fonts/CynthoSlabPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CynthoSlabPro-Regular-webfont.woff") format("woff"), url("../fonts/CynthoSlabPro-Regular-webfont.ttf") format("truetype");
  src: local("../fonts/CynthoSlabPro-Regular-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CynthoSlab";
  src: url("../fonts/CynthoSlabPro-Italic-webfont.eot");
  src: url("../fonts/CynthoSlabPro-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CynthoSlabPro-Italic-webfont.woff") format("woff"), url("../fonts/CynthoSlabPro-Italic-webfont.ttf") format("truetype");
  src: local("../fonts/CynthoSlabPro-Regular-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-LightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* variables */
/* mixins */
/* line 36, ../sass/global.sass */
.inset {
  -moz-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  -webkit-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
}

/* styles */
/* line 51, ../sass/global.sass */
body {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #333333;
}

/* line 56, ../sass/global.sass */
h3 {
  margin-bottom: 15px;
}

/* line 59, ../sass/global.sass */
a {
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* line 61, ../sass/global.sass */
a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #333333;
}

/* line 64, ../sass/global.sass */
a:hover {
  color: #00cef2;
}

/* line 67, ../sass/global.sass */
.hidden {
  display: none;
}

/* line 70, ../sass/global.sass */
.clear {
  clear: both;
}

/* line 73, ../sass/global.sass */
.full {
  width: 100%;
  padding: 20px 150px;
}

/* line 76, ../sass/global.sass */
a.button {
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: none;
  height: 2.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 20px;
  margin: 0.5em 0;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: #ff3a6b;
  text-shadow: none;
}
/* line 85, ../sass/global.sass */
a.button:hover {
  background-color: #d31818;
}

/* bootstrap override */
/* line 90, ../sass/global.sass */
.carousel .carousel-control {
  width: 40px;
}

/* line 94, ../sass/global.sass */
.carousel.carousel-fade .item {
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
/* line 97, ../sass/global.sass */
.carousel.carousel-fade .item.active {
  opacity: 1;
}

/* line 100, ../sass/global.sass */
button {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: "CodePro";
  src: url("../fonts/Code_Pro_Demo-webfont.eot");
  src: url("../fonts/Code_Pro_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Demo-webfont.woff") format("woff"), url("../fonts/Code_Pro_Demo-webfont.ttf") format("truetype"), url("../fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular") format("svg");
  src: local("../fonts/Code_Pro_Demo-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodeProLight";
  src: url("../fonts/Code_Pro_Light_Demo-webfont.eot");
  src: url("../fonts/Code_Pro_Light_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Light_Demo-webfont.woff") format("woff"), url("../fonts/Code_Pro_Light_Demo-webfont.ttf") format("truetype"), url("../fonts/Code_Pro_Light_Demo-webfont.svg#CodeProLightDemoRegular") format("svg");
  src: local("../fonts/Code_Pro_Light_Demo-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSlab";
  src: url("../fonts/Museo_Slab_500_2-webfont.eot");
  src: url("../fonts/Museo_Slab_500_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo_Slab_500_2-webfont.woff") format("woff"), url("../fonts/Museo_Slab_500_2-webfont.ttf") format("truetype");
  src: local("../fonts/Museo_Slab_500_2-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_500-webfont.eot");
  src: url("../fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/MuseoSans_500-webfont.ttf") format("truetype");
  src: local("../fonts/MuseoSans_500-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/SofiaProLight-webfont.eot");
  src: url("../fonts/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SofiaProLight-webfont.woff") format("woff"), url("../fonts/SofiaProLight-webfont.ttf") format("truetype");
  src: local("../fonts/SofiaProLight-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CynthoSlab";
  src: url("../fonts/CynthoSlabPro-Regular-webfont.eot");
  src: url("../fonts/CynthoSlabPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CynthoSlabPro-Regular-webfont.woff") format("woff"), url("../fonts/CynthoSlabPro-Regular-webfont.ttf") format("truetype");
  src: local("../fonts/CynthoSlabPro-Regular-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CynthoSlab";
  src: url("../fonts/CynthoSlabPro-Italic-webfont.eot");
  src: url("../fonts/CynthoSlabPro-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CynthoSlabPro-Italic-webfont.woff") format("woff"), url("../fonts/CynthoSlabPro-Italic-webfont.ttf") format("truetype");
  src: local("../fonts/CynthoSlabPro-Regular-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-LightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* line 4, ../sass/index.sass */
body {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
}

/* line 10, ../sass/index.sass */
.container h1 {
  font-family: Quicksand;
}
/* line 12, ../sass/index.sass */
.container h2, .container h3 {
  display: inline-block;
}
/* line 14, ../sass/index.sass */
.container .separator {
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
  border-bottom: 8px solid #bbff9b;
}

/* line 21, ../sass/index.sass */
.carousel {
  height: 600px;
  -moz-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  -webkit-box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  box-shadow: inset 0 10px 10px -10px #666666, inset 0 -10px 10px -10px #666666;
  margin-bottom: 20px;
}
/* line 26, ../sass/index.sass */
.carousel .carousel-inner, .carousel .item {
  height: 100%;
  position: relative;
}
/* line 30, ../sass/index.sass */
.carousel .carousel-indicators {
  bottom: 80px;
}

/* line 38, ../sass/index.sass */
.image {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 47, ../sass/index.sass */
.caption-wrapper {
  position: absolute;
  display: table;
  height: 100%;
  top: 0;
  left: 10%;
  width: 400px;
  text-align: center;
  font-size: 40px;
}
/* line 57, ../sass/index.sass */
.caption-wrapper.caption-right {
  left: auto;
  right: 10%;
}
/* line 61, ../sass/index.sass */
.caption-wrapper .caption {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 71, ../sass/index.sass */
.full.image {
  height: 600px;
}

/* line 75, ../sass/index.sass */
.section {
  position: relative;
}
/* line 77, ../sass/index.sass */
.section .image {
  position: absolute;
  height: 100%;
  opacity: 0.3;
  background-color: blue;
  -webkit-filter: blur(5px);
}

/* line 85, ../sass/index.sass */
.row {
  padding: 20px 0;
}
/* line 87, ../sass/index.sass */
.row:first-child {
  padding-top: 40px;
}
/* line 89, ../sass/index.sass */
.row:last-child {
  padding-bottom: 40px;
}

/* line 93, ../sass/index.sass */
#value-propositions > div, #specs > div {
  text-align: center;
}
/* line 95, ../sass/index.sass */
#value-propositions > div img, #specs > div img {
  max-width: 100%;
}

/* line 99, ../sass/index.sass */
form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 101, ../sass/index.sass */
form input {
  border: 1px solid #999999 !important;
  width: 15em;
  font-size: 20px !important;
  color: #333333;
  margin: 0 2px;
}
/* line 107, ../sass/index.sass */
form input[type=email] {
  width: 20em;
}
/* line 109, ../sass/index.sass */
form button {
  margin: 0 1em;
  padding: 6px 12px;
  font-size: 20px !important;
}

/* line 114, ../sass/index.sass */
.form-control, button {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0;
}
